.tags-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.tags-list a {
    margin: 0.2rem 0.8rem 0.8rem 0.2rem;
    padding: 0.25rem 0.5rem;
    background-color: #eee;
    border-radius: 0.25rem;
    color: #333;
}

.tags-list a:hover,
.tags-list a:focus {
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.tags-list a:not(.btn):hover,
.tags-list a:not(.btn):focus {
    background-color: #ddd;
    color: #555;
}


.dark .tags-list a {
    margin: 0.2rem 0.8rem 0.8rem 0.2rem;
    padding: 0.25rem 0.5rem;
    background-color: #2278cf;
    border-radius: 0.25rem;
    color: #fff;
}

.dark .tags-list a:hover,
.dark .tags-list a:focus {
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.dark .tags-list a:not(.btn):hover,
.dark .tags-list a:not(.btn):focus {
    background-color: #054e98;
    color: #ddd;
}